<div class="sidebar" data-color="purple" data-background-color="white" data-image="../../assets/images/sidebar-1.jpg">
  <div class="logo">
    <a href="https://www.eglo.com.co/" class="simple-text logo-normal">
      <img src="../../assets/images/logo.png" height="55px">
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="./dashboard.html">
          <i class="material-icons">dashboard</i>
          <p>Inicio</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="busquedaClientes.html">
          <i class="material-icons">groups</i>
          <p>Clientes</p>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="informes.html">
          <i class="material-icons">trending_up</i>
          <p>Informes</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="material-icons">local_shipping</i>
          <p>Inventarios</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="material-icons">paid</i>
          <p>Facturación</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <p>&nbsp;</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="material-icons">person</i>
          <p>Usuarios</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="material-icons">settings</i>
          <p>Configuracion</p>
        </a>
      </li>
    </ul>
  </div>
</div>